/target
cities-0.0.1.fst
cities-0.0.1.points
cities-0.0.1.rkyv
geo-0.0.1.db
subdistrict-0.0.1.db
cities-0.0.1.fst.sha256
cities-0.0.1.points.sha256
cities-0.0.1.rkyv.sha256
geo-0.0.1.db.sha256
subdistrict-0.0.1.db.sha256
